---
import Header from "../components/header.astro";
import Gallery from "./gallery.astro";
import Hero from "./hero.astro";
import Services from "./services.astro";
import Contact from "./contact.astro";
---

<section class="h-auto w-screen">
  <Header />
  <Hero />
  <Services />
  <Gallery />
  <Contact />
</section>
