---
import Service from "../components/service.astro";

// statically import image assets so Astro can optimize them
import paintingImg from "../assets/painting.jpg";
import wallpaperImg from "../assets/wallpaper.jpg";
import fauxImg from "../assets/faux.jpg";
---

<section class="h-auto w-screen flex flex-col items-center p-8" id="services">
  <h1 class="text-4xl font-bold text-gray-800">Our Services</h1>
  <div class="flex flex-col md:flex-row">
    <Service
      imageUrl={paintingImg}
      title="Interior Painting"
      description="Our skilled painters transform your space with precision and care, delivering flawless interior painting services that enhance the beauty of your home."
    />
    <Service
      imageUrl={wallpaperImg}
      title="Wallpaper Installation"
      description="Transform your space with our wallpaper installation services, delivering stunning results."
    />
    <Service
      imageUrl={fauxImg}
      title="Faux Finishes"
      description="Enhance your space with our professional faux finish services, creating a unique and elegant look that adds depth and character to your room."
    />
  </div>
</section>
